# Environment variables for the entity matching service.
#

# Errbit config
EMS_USE_AIRBRAKE=true
EMS_AIRBRAKE_HOST='https://my-errbit-instance.com'
# This must be a positive integer to validate
EMS_AIRBRAKE_PROJECT_ID=1
EMS_AIRBRAKE_PROJECT_KEY=longvaluefullofnumbersandlettersinlowercase

# Only required when running the app in production. A default is used in
# development and test
SECRET_KEY_BASE=somescarylongvaluefullofnumbersandlettersinbothupperandlowercase
