dist: trusty

addons:
  sonarcloud:
    organization: "defra"

language: ruby
rvm: 2.7.1
cache: bundler

# Travis CI uses shallow clone to speed up build times, but a truncated SCM
# history may cause issues when SonarCloud computes blame data. To avoid this,
# you can access the full SCM history with `depth: false`
git:
  depth: false

env:
  global:
    - WCRS_REGISTRATION_EXPIRES_AFTER=3
    - WCRS_REGISTRATION_RENEWAL_WINDOW=3
    - WCRS_REGISTRATION_GRACE_WINDOW=5
    - WCRS_REGISTRATION_COVID_GRACE_WINDOW=180
    - WCRS_END_OF_COVID_EXTENSION_YEAR=2020
    - WCRS_END_OF_COVID_EXTENSION_MONTH=10
    - WCRS_END_OF_COVID_EXTENSION_DAY=1
    - WCRS_RENEWAL_CHARGE=10500
    - WCRS_TYPE_CHANGE_CHARGE=4000
    - WCRS_CARD_CHARGE=500
    - AWS_DAILY_EXPORT_ACCESS_KEY_ID=1234
    - AWS_DAILY_EXPORT_SECRET_ACCESS_KEY=1234
    - AWS_DAILY_EXPORT_BUCKET=1234
    - AWS_BOXI_EXPORT_ACCESS_KEY_ID=5678
    - AWS_BOXI_EXPORT_SECRET_ACCESS_KEY=5678
    - AWS_BOXI_EXPORT_BUCKET=5678
    - AWS_LETTERS_EXPORT_ACCESS_KEY_ID=9012
    - AWS_LETTERS_EXPORT_SECRET_ACCESS_KEY=9012
    - AWS_LETTERS_EXPORT_BUCKET=9012
    # Just used to make the tests pass
    - WCRS_WORLDPAY_MOTO_USERNAME=foo
    - WCRS_WORLDPAY_MOTO_PASSWORD=foo
    - WCRS_WORLDPAY_MOTO_MERCHANTCODE=abc
    - WCRS_WORLDPAY_MOTO_MACSECRET=def
    - WCRS_WORLDPAY_MOTO_USERNAME=
    - WCRS_WORLDPAY_MOTO_PASSWORD=
    - WCRS_WORLDPAY_ECOM_USERNAME=
    - WCRS_WORLDPAY_ECOM_PASSWORD=
    - WCRS_USE_XVFB_FOR_WICKEDPDF=true

services:
  - mongodb

before_install:
  - export TZ=UTC
  - gem install bundler
  - sudo apt-get install xvfb -y
  - sudo apt-get install ttf-liberation -y
  - sudo apt-get install wkhtmltopdf -y

before_script:
  # Set up Mongo databases
  - mongo waste-carriers-test --eval 'db.createUser({user:"mongoUser", pwd:"password1234", roles:["readWrite", "dbAdmin", "userAdmin"]})'
  - mongo waste-carriers-users-test --eval 'db.createUser({user:"mongoUser", pwd:"password1234", roles:["readWrite", "dbAdmin", "userAdmin"]})'

script:
  - bundle exec rubocop --format progress --format json --out rubocop-result.json
  - bundle exec rspec
  - sonar-scanner
