<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Waste Carriers bulk AD ad reminder letters</title>
  <meta name="description" content="Waste Carriers renewal letter">
  <meta name="author" content="Environment Agency">
  <%= render "ad_reminder_letters/styles" %>
</head>

<body>
  <% presenters.each_with_index do |presenter, index| %>
    <!-- We don't want the bulk to fail if a single render fails -->
    <%=
      begin
        render "ad_reminder_letters/ad_reminder_letter_content", presenter: presenter
      rescue StandardError => e
        Airbrake.notify e, registration_reg_identifier: presenter.reg_identifier
        Rails.logger.error "Generate AD bulk letters render error for #{presenter.reg_identifier}:\n#{e}"
        ""
      end
    %>
  <% end %>
</body>
</html>
