<div class="wcr-actions wcr-actions--push-down">
  <h2 class="heading-medium">
    <%= t(".actions_box.heading", reg_identifier: resource.reg_identifier) %>
  </h2>
  <ul>
    <!-- TODO: This `display_resume_link_for?` will need to be updated when we build NewRegistration -->
    <% if display_resume_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.continue_button"), WasteCarriersEngine::Engine.routes.url_helpers.new_renewal_start_form_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if resource.pending_payment? %>
      <li>
        <%= link_to t(".actions_box.links.payment"), transient_registration_payments_path(resource.reg_identifier) %>
      </li>
    <% end %>

    <% if display_renew_link_for?(resource) %>
      <li>
        <%= link_to t(".actions_box.links.renew"), transient_registration_payments_path(resource.reg_identifier) %>
      </li>
    <% end %>
  </ul>
</div>
