<div class="govuk-inset-text">
  <h2 class="govuk-heading-m">
    <%= resource.ceased_revoked_header %>
  </h2>
  <% if resource.metaData.revoked_reason.present? && can?(:view_revoked_reasons, resource) %>
    <p class="govuk-body">
      <%= t(".reason") %> <%= resource.metaData.revoked_reason %>
    </p>
  <% end %>
</div>
