<div class="panel panel-border-wide">
  <h2 class="heading-medium">
    <%= resource.ceased_revoked_header %>
  </h2>
  <% if resource.metaData.revoked_reason.present? && can?(:view_revoked_reasons, resource) %>
    <p>
      <%= t(".reason") %> <%= resource.metaData.revoked_reason %>
    </p>
  <% end %>
</div>
