<div class="govuk-inset-text">
  <h2 class="govuk-heading-m">
    <%= t(".status.headings.pending_convictions") %>
  </h2>
  <p class="govuk-body">
    <%= t(".status.messages.pending_convictions_check") %>
  </p>
</div>
