<h2 class="heading-medium">
    <%= t(".heading") %>
</h2>
<table>
  <tbody>
    <tr>
      <th>
        <%= t(".labels.email") %>
      </th>
      <td>
        <%= resource.receipt_email %>
      </td>
    </tr>
  </tbody>
</table>
