<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      <%= t(".restored_details.heading") %>
    </h2>
    <p class="govuk-body">
      <%= resource.metaData.restored_reason %>
    </p>
  </div>
</div>
