<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: root_path) %>

    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
    <p>
      <%= link_to t(".links.final_reminder_letters_exports"), final_reminder_letters_exports_path %>
    </p>
  </div>
</div>

