<div class="grid-row">
  <div class="column-full">
    <h1 class="heading-large">
      <%= t(".heading") %>
    </h1>
    <p>
      <%= t(".paragraph_1") %>
    </p>
  </div>
</div>

<%= render("shared/convictions_dashboard_menu") %>

<%= render("shared/convictions_dashboard_results") %>
