<div class="grid-row">
  <div class="column-two-thirds">
    <%= render("waste_carriers_engine/shared/back", back_path: new_resource_payment_path(@resource._id)) %>

    <%= render("waste_carriers_engine/shared/errors", object: @worldpay_missed_payment_form) %>

    <h1 class="heading-large">
      <%= t(".heading", reg_identifier: @resource.reg_identifier) %>
    </h1>

    <%= render(
      "shared/payment_form",
      form: @worldpay_missed_payment_form,
      path: resource_worldpay_missed_payment_forms_path(@resource._id),
      resource: @resource
    ) %>
  </div>
</div>
