ul.dashboard_menu li {
  display: inline-block;
  margin-bottom: 1em;
}

ul.dashboard_menu li.title {
  font-weight: bold;
  margin: 1em 1em 1em 0;
}

ul.dashboard_menu li.current_page {
  border-bottom: 4px solid $govuk-brand-colour;
}

ul.dashboard_menu li.current_page span {
  margin: 1em;
}

ul.dashboard_menu li a {
  color: $govuk-brand-colour;
  margin: 1em;
}

.dashboard_results td {
  vertical-align: top;
}

.dashboard_results td:last-child {
  width: 9em;
}

.dashboard_results p.address {
  margin-bottom: 0;
}
