.panel.wcr-panel{
  margin-top: 25px;

  &-border-all {
    border: 1px solid #bfc1c3;
  }

  p.lede {
    margin: 0;
  }

  h2 {
    margin-bottom: 5px;
  }
}

.wcr-side-info-box {
  h2 {
    margin: 10px 0 0 0;
  }

  p {
    margin-bottom: 8px;
  }

  .wcr-truncate-ellipsis {
    overflow : hidden;
    text-overflow: ellipsis;
  }
}
