// Taken from https://dwp-design-examples.herokuapp.com/example/tags
@import 'colours';

.status-tag {
  background-color: $govuk-blue;
  color: $white;
  display: inline-block;
  font-family: 'nta', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.25;
  padding: 5px 5px 2px 5px;
  margin-bottom: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.status-tag--active {
  background-color: #00703c;
}

.status-tag--expired {
  background-color: #b58840;
}

.status-tag--in_progress {
  background-color: #005ea5;
}

.status-tag--pending_conviction_check {
  background-color: #d4351c;
}

.status-tag--pending_payment {
  color: $black;
  background-color: #f47738;
}

.status-tag--refused {
  background-color: #6f777b;
}

.status-tag--revoked {
  background-color: #6f777b;
}

.status-tag--stuck {
  background-color: #d4351c;
}
