@import "defra_ruby_template";
@import "partials/dashboards";
@import "partials/pagination";
@import "partials/wcr-objects";

// Signed-in info banner
#user-status {
  text-align: right;
}

// Inline date fields
.inline-date {
  display: inline-block;
  width: auto;
}
.inline-date input {
  width: 3.5em;
}
