@import "defra_ruby_template";
@import "partials/dashboards";
@import "partials/pagination";
@import "partials/wcr-objects";

// Signed-in info banner
#user-status {
  text-align: right;
}

// Inline date fields
.inline-date {
  display: inline-block;
  width: auto;
}
.inline-date input {
  width: 3.5em;
}

input.button-link {
  border: none;
  color: #005ea5;
  font-size: 1.1875rem;
  padding: 0;
  text-decoration: underline;
}

.inline-checkboxes {
  .govuk-checkboxes__item {
    padding-right: 1em;
    clear: none;
  }
}
